body {
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finance-tracker {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}

.finance-tracker h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 10px;
    color: #000;
}


section {
    margin: 20px;
}

section h2 {
    margin: 0 0 10px 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    color: white;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.account {
    position: relative;
}

.account-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.account-dropdown li {
    padding: 0.5rem;
}

.account-dropdown li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #4D7E80;
    text-decoration: none;
}

.account:hover .account-dropdown {
    display: block;
}

.account-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.account-dropdown a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.account-dropdown a:hover {
    background-color: lightgray;
    border-radius: 5px;
}

button {
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4D7E80;
    color: white;
}

.delete-btn {
    background-color: #BF0603;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
}

.delete-btn:hover {
    background-color: #790402;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: cadetblue;
    color: white;
}

.income {
    color: green;
}

.expense {
    color: red;
}

.tooltip {
    font-size: 12px;
    fill: black;
    text-anchor: middle;
    pointer-events: none;
}

#expense-form {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    right: 100%;
    transition:1s;
}

#expense-form.visible{
    transform: translateX(-100%);
}


label, input {
    margin: 1px;
}

input[type="date"],
input[type="text"],
input[type="number"],
select,
#generateChartButton,
#addExpense,
#showFormButton,
.account-button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    background-color: #f5f5f5;
}

#showFormButton {
    margin-bottom: 10px;
}

.pie div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.pie div *,
#div-select *{
   margin-left: 20px;
}

#div-select{
    margin-top: 10px;
    margin-bottom: 10px;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

#expense-table{
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    width: 600px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

.header-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    background-color: cornflowerblue;
}

.row .cell,
.header-row .cell{
    width: 100px;
}

.row .cell:nth-child(1),
.header-row .cell:nth-child(1){
    width: 80px;
}

.row .cell:nth-child(5),
.header-row .cell:nth-child(5){
   border: none;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-grow: 1;
}


@media (max-device-width: 500px){
    .header{
        width: 100%;
        position: relative;
        z-index: 9999;
    }

    #exp{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #expense-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 120%;
        transition:1s;
    }

    #expense-form.visible{
        transform: translateY(-120%);
    }

    #table-select{
        position: relative;
        top: 200%;
        transition: 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #table-select.moved{
        transform: translateY(-200%);
    }


    #expense-form label{
        font-size: 150%;
    }

    input[type="date"],
    input[type="text"],
    input[type="number"],
    #generateChartButton,
    #addExpense,
    #showFormButton,
    .account-button{
        height: 50px;
        width: 300px;
        font-size: larger;
    }

    #expense-form select{
        height: 70px;
        width: 300px;
    }

    ::placeholder{
        font-size: large;
    }

    h2 {
        font-size: 35px;
    }

    h3{
        font-size: 25px;
    }
}







